@{
    ViewData["Title"] = "Listagem de Pessoas";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Sistema de Cadastro de Pessoa</h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-success btn-sm">Nova pessoa</a>
    </p>
    </p>
</div>
